.exchange_box{
  .card{
    .card-header{
      background-color: #055dae;
      color: white;
      border-radius: 0;
      font-weight: 700;
    }
    .card-block{
      background-color: #f9f9f9;
      padding: 10px;
      .title{
        font-weight: 700;
      }

      .switch_currency {
        color: white;
      }
    }
  }
}
